# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lesson2_8.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\progCH\lesson2_8\.idea\.idea.lesson2_8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
