# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lesson2_7.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Алла\Desktop\lessons-2\lesson2_7\.idea\.idea.lesson2_7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
